/*
 * You can get color in this website http://www.color-blindness.com/color-name-hue/
 */
$white: #fff;
$solitude: #f4f5f8;
$manatee: #8990a7;
$black: #000;
$regal-blue: #1b285a;
$midnight-blue: #132150;
$neon-blue: #2544ff;
$blue-gem: #373b95;
