
.chart-container{
  /*border: 1px solid #1A191C !important;*/
}

/*K线图loading*/
.loading-indicator,#loading-indicator
,.chart-page{
  background: transparent!important;
}

.chart-page,
.chart-page .chart-container{background: transparent!important; border: 0;}
.ui-draggable{display: none!important;}

/*#loading-indicator{*/
  /*display: none;*/
  /*opacity: 0;*/
/*}*/
