<div class="notice-box">
    <notice></notice>
</div>
<div class="service-agreement">
    <div class="container">
        <div class="service-content rootrex-content-bg">
            <h3 class="rootrex-font1">{{'Service.Agreement' | translate}}</h3>
            <h5 class="rootrex-font1">{{'Service.Definition' | translate}}</h5>
            <h6 class="rootrex-font3" [innerHtml] = "'Service.DefinitionDetails' | translate"></h6>
            <h5 class="rootrex-font1">{{'Service.AgreementContent' | translate}}</h5>
            <div class="rootrex-font3">
                <h6>{{'Service.AgreementContent_One' | translate}}</h6>
                <h6>{{'Service.AgreementContent_Two' | translate}}</h6>
                <h6>{{'Service.AgreementContent_Three' | translate}}</h6>
                <h6>{{'Service.AgreementContent_Four' | translate}}</h6>
            </div>
            <h5 class="rootrex-font1">{{'Service.UseNotice' | translate}}</h5>
            <h6 class="rootrex-font3">{{'Service.UseQualifications' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.UseQualificationsDetails' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.Jurisdiction' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.JurisdictionDetails_One' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.JurisdictionDetails_Two' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.Security' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.SecurityDetails' | translate}}</h6>
            <h5 class="rootrex-font1">{{'Service.RootrexService' | translate}}</h5>
            <div class="rootrex-font3">
                <h6>{{'Service.ServiceDescribe' | translate}}</h6>
                <h6>{{'Service.ServiceDescribeDetails_One' | translate}}</h6>
                <h6>{{'Service.ServiceDescribeDetails_Two' | translate}}</h6>
                <h6>{{'Service.ServiceDescribeDetails_Three' | translate}}</h6>
                <h6>{{'Service.Cost' | translate}}</h6>
                <h6>{{'Service.CostDetails' | translate}}</h6>
                <h6>{{'Service.Taxation' | translate}}</h6>
                <h6>{{'Service.TaxationDetails' | translate}}</h6>
            </div>
            <h5 class="rootrex-font1">{{'Service.UseStandard' | translate}}</h5>
            <div class="rootrex-font3">
                <h6>{{'Service.UseStandardDetails' | translate}}</h6>
                <h6>{{'Service.UseStandardDetails_One' | translate}}</h6>
                <h6>{{'Service.UseStandardDetails_Two' | translate}}</h6>
                <h6>{{'Service.UseStandardDetails_Three' | translate}}</h6>
                <h6>{{'Service.UseStandardDetails_Four' | translate}}</h6>
            </div>
            <h5 class="rootrex-font1">{{'Service.Disclaimer' | translate}}</h5>
            <h6 class="rootrex-font3">{{'Service.DisclaimerDetails_One' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.DisclaimerDetails_Two' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.DisclaimerDetails_Three' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.DisclaimerDetails_Four' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.DisclaimerDetails_Five' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.DisclaimerDetails_Six' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.DisclaimerDetails_Seven' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.DisclaimerDetails_Eight' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.DisclaimerDetails_Nine' | translate}}</h6>

            <h5 class="rootrex-font1">{{'Service.AgreementStop' | translate}}</h5>
            <h6 class="rootrex-font3">{{'Service.AgreementStop_ContentOne' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.AgreementStop_ContentTwo' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.AgreementStop_ContentThree' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.AgreementStop_ContentFour' | translate}}</h6>

            <h5 class="rootrex-font1">{{'Service.Other' | translate}}</h5>
            <h6 class="rootrex-font3">{{'Service.OtherContent_One' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.OtherContent_Two' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.OtherContent_Three' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.OtherContent_Four' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.OtherContent_Five' | translate}}</h6>
            <h6 class="rootrex-font3" [innerHtml] = "'Service.OtherContent_Six' | translate" ></h6>

            <h5 class="rootrex-font1">{{'Service.Privacy' | translate}}</h5>
            <h6 class="rootrex-font3">{{'Service.InformationSources' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.InformationSourcesDetails' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.InformationDisclosure' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.InformationDisclosureDetails' | translate}}</h6>
            <h6 class="rootrex-font3">{{'Service.InformationDisclosureDetails_One' | translate}}</h6>
            <h6 class="rootrex-font3" [innerHtml] = "'Service.InformationDisclosureDetails_Two' | translate"></h6>
        </div>
    </div>
</div>