.unlock-metamask {
  width: 280px;
  height: 140px;
  padding: 30px;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 22;

  .unlock-metamask-content{
	  position: relative;
	  text-align: center;
	  span{
		  position: absolute;
		  top: 0;
		  right: 0;
		  font-size: 18px;
		  cursor: pointer;
	  }
	  img{
		  max-width: 100%;
	  }
	  p{
		  font-size: 16px;
	  }
  }
  
}

// 遮罩层
.mask{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5)
}

.fadeIn {
  animation: fadeIn 300ms;
}

.fadeOut {
  animation: fadeOut 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}