.notice-box{
    width: 100%;
}
.rootrex{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    .rootrex-content{
        width: 100%;
        height: auto;
        padding: 30px 40px;
        h3{
            font-size: 22px;
            font-weight: bold;
            margin: 0;
        }
        h4{
            margin-top: 30px;
            margin-bottom: 0;
            font-size: 14px;
        }
        h5{
            margin-top: 30px;
            margin-bottom: 0;
            font-size: 14px;
        }
        h6{
            margin-top: 20px;
            margin-bottom: 0;
            font-size: 12px;
            line-height: 16px;
            a{
                color: #00CEFF;
            }
        }
    }
}