.rootrex-dialog {
  width: 400px;
  height: 300px;
  padding: 30px;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 22;

  .title {
    width: 100%;
    height: 25px;
    line-height: 25px;

    .left {
      width: 95%;
      float: left;
      font-size: 18px;

    }

    .right {
      width: 5%;
      float: right;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
    }

  }

  .content {
    width: 100%;
    height: 152px;
    line-height: 20px;
    margin-top: 10px;
    font-size: 12px;
    .rootrex .right{
        span{
            cursor: pointer;
            text-decoration: underline;
            &.line_{
              text-decoration: none;
            }
        }
    }

    &>div>div>div.left{
      width: 50%;
      height: 20px;
      line-height: 14px;
      font-size: 12px;
      text-align: left;
      float:left;
    }

    &>div>div>div.right{
      width: 50%;
      height: 20px;
      line-height: 14px;
      font-size: 12px;
      text-align: right;
      float:right;
    }

    .balance{
      height: 40px;
      margin-top: 20px;

      .wallet{

      }

      .rootrex{

      }
    }

    .withdrawAmount{
      height: 40px;
      margin-top: 15px;
      position: relative;

      input{
        width: 340px;
        height: 40px;
        outline: none;
        position: absolute;
        font-size: 14px;
        padding-left: 20px;
        border: rgba(0, 0, 0, 0) 1px solid;
        border-radius: 2px;
      }

      .unit{
        width: auto;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        position: absolute;
        right: 10px;
      }

    }

    .message{
      height: 40px;
      margin-top: 15px;

      .message-list{

        font-size: 12px;

        &.error{
          text-align: left;
        }

        &.info{
          text-align: right;
        }
      }
    }

  }

  .buttons {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    text-align: center;

    button{
      width: 340px;
      height: 40px;
      font-size: 14px;
      border: 0;
      border-radius: 2px;
      outline: none;
      cursor: pointer;
      transition: opacity 300ms,background 300ms;

      &.disable{
        opacity: 0.5;
      }


    }

  }

}

// 遮罩层
.mask{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.fadeIn {
  animation: fadeIn 300ms;
}

.fadeOut {
  animation: fadeOut 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}