$color_blue : #00CEFF;
select {
  outline: none;
}

.notice-box {
  width: 100%;
}

.deal {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  .deal-title {
        overflow: hidden;
        height: 70px;
        .deal-title-left {
            width: 75%;
            padding-right: 10px;
            float: left;
            .deal_left_container{
                width: 100%;
                height: 70px;
                overflow: hidden;
            }
            .deaal_left_one{
                float: left;
                height: 70px;
                line-height: 70px;
                padding: 0 25px 0 20px;
                font-size: 12px;
        		box-shadow: none;
        		overflow: hidden;
		        .taken_name_basename{
                    height: 100%;
        			float: left;
        			font-size: 22px;
                    font-family: Effra !important;
                    margin-right: 15px;
        			span{
                        padding-left: 20px;
                        font-family: Effra !important;
        			}
        		}
                .icon_start{
        			float: left;
                	font-size: 16px;
        			cursor: pointer;
                }
                .token_currentPrice{
                    font-family: Effra !important;
                    float: left;
                    height: 100%;
                    font-size: 22px;
                    margin-right: 15px;
                }
                .token_currency{
                    font-family: Effra !important;
                    float: left;
                    height: 100%;
                    font-size: 14px;
                }
            }
            .deal_left_two {
                float: left;
                height: 70px;
                ul {
                    list-style: none;
                    padding: 0;
                    overflow: hidden;
                    height: 100%;
                    li {
                        float: left;
                        height: 100%;
                        margin-right: 25px;
                        &:nth-of-type(1){
                            margin-right: 0;
                            &>div{
                                float: left;
                                height: 70px;
                                line-height: 70px;
                                &.price_up_down{
                                    font-size: 22px;
                                    margin-right: 15px;
                                    font-family: Effra !important;
                                }
                                &.price_cny{
                                    font-size: 14px;
                                    margin-right: 35px;
                                    font-family: Effra !important;
                                }
                            }
                        }
                        &:nth-last-of-type(1){
                            margin-right: 0;
                        }
                        .left_word{
                            height: 70px;
                            float: left;
                            overflow: hidden;
                            padding-top: 20px;
                            padding-right: 10px;
                            font-size: 12px;
                        }
                        .right_number{
                            height: 70px;
                            overflow: hidden;
                            p {
                                margin: 0;
                                &:nth-of-type(1) {
                                    font-size: 14px;
                                    font-family: Effra !important;
                                    padding-top: 19px;
                                }
                                &:nth-of-type(2){
                                    font-size: 12px;
                                    padding-top: 4px;
                                    font-family: Effra !important;
                                }
                            }
                        }  
                    }
                }
            }
        }



      .deal-title-right {
        width: 25%;
        height: 70px;
        box-shadow: none;
        padding-left: 10px;
        float: right;
        div {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: 100% 100%;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
    // }
  }
  // kx线图
  .deal-content {
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    .deal-kline-box {
      width: 75%;
      float: left;
      padding-right: 10px;
      .deal-kline {
        width: 100%;
        height: 430px;
        .deal-kline-title {
          height: 40px;
          line-height: 39px;
          border-bottom: 1px solid #000;
          padding: 0 20px;
          &>div {
            font-size: 12px;

            &:nth-of-type(1) {
              float: left;
              span {
                top: 1px;
              }
            }
            &:nth-of-type(2) {
              float: right;
              cursor: pointer;
              position: relative;
              padding-right: 20px;
              .iconfont{
                  position: absolute;
                  top: 0;
                  right: 0;
              }
            }
          }
          &>ul {
            float: right;
            list-style: none;
            padding-left: 0;
            &>li {
              float: left;
              font-size: 14px;
              margin-right: 50px;
              line-height: 38px;
              cursor: pointer;
            }
          }
        }

        .deal-kline-content {
          width: 100%;
          height: 390px;

          & > div {
            display: none;
            height: 100%;
          }

          .show {
            display: block;
          }
        }
      }
    }
    .deal-market-box {
      width: 25%;
      float: left;
      padding-left: 10px;
      .deal-market {
        width: 100%;
        height: 430px;
        .deal-market-title {
          height: 40px;
          border-bottom: 1px solid #000;
          padding: 0 20px;
          span {
            display: inline-block;
            line-height: 40px;
            font-size: 14px;
          }
          .deal-market-search {
            float: right;
            width: 160px;
            height: 24px;
            border-radius: 2px;
            overflow: hidden;
            margin-top: 8px;
            position: relative;
            span {
              position: absolute;
              top: -7px;
              left: 10px;
              font-size: 12px;
            }
            input {
              width: 100%;
              height: 23px;
              margin-top: 0.5px;
              font-size: 12px;
              border: 0.5px solid rgba(13, 21, 57, 0);
              outline: none;
              background-color: inherit;
              padding: 0 10px 0 26px;
              &:focus{
                border-color: $color_blue;
              }
            }
          }
        }
        .deal-market-price {
          .deal-market-price-title {
            height: 40px;
            padding: 0 20px;
            
            span {
              display: inline-block;
              line-height: 38px;
              font-size: 14px;
              margin-right: 25px;
              cursor: pointer;
              overflow: hidden;
              border-bottom: 2px solid rgba(13, 21, 57, 0);
              &:nth-last-of-type(1){
                  margin-right: 0;
              }
              .icon_start_left{
                    float: left;
                    margin-right: 10px;
                    font-size: 14px;
                    margin-top: -1.1px;
                }
            }
          }
          .deal-market-price-option {
            padding: 0 0 0 45px;
            height: 30px;
            line-height: 30px;
            position: relative;
            overflow: hidden;
            span.iconfont {
              position: absolute;
              left: 15px;
              font-size: 14px;
              cursor: pointer;
            }
            div {
              float: left;
              font-size: 12px;
              height: 30px;
              line-height: 30px;
              -moz-user-select:none;/*火狐*/
                -webkit-user-select:none;/*webkit浏览器*/
                -ms-user-select:none;/*IE10*/
                user-select:none;
              &.trade_tokenName{
                width: 35%;
				cursor: pointer;
				&>div{
                    position: relative;
                    height: 30px;
					span {
						font-size: 14px;
					  }
				}

			  }



              &:nth-of-type(2) {
                font-family: Effra !important;
                height: 30px;
                line-height: 30px;
              }
              &:nth-of-type(3) {
                float: right;
                text-align: right;
				font-family: Effra !important;
                padding-right: 15px;
                height: 30px;
                line-height: 30px;
              }
            }
          }
          .price-option {
            div {
			  div{
				position: relative;
				cursor: pointer;
				display: block;
				width: 100%;
				b {
                    font-size: 16px;
                    font-weight: 600;
					position: absolute;
					top: 0;
					&:nth-of-type(1) {
					  margin-left: -6px;
					}
					&:nth-of-type(2) {
					  margin-left: 0;
					}
				  }
				  &.trade_marketPrice{
					  b{
						  top: 1px;
						  &:nth-of-type(1) {
							margin-left: -3px;
						  }
						  &:nth-of-type(2) {
							margin-left: 3px;
						  }
					  }
				  }
				  &.trade_upDown {
					padding-right: 13px;
					b {
					  &:nth-of-type(1) {
						margin-left: -1px;
					  }
					  &:nth-of-type(2) {
						margin-left: 5px;
					  }
					}
				  }
			  }
			  &:nth-of-type(3){
				  padding-right: 7px;
			  }
            }
		  }
		  .trade_marketPrice_box{
			  width: 25%;
		  }
          .deal-market-price-content {
			  	height: 305px;
				overflow-y: scroll;
				padding-left: 5px;
			.scroll-y{
				.symbolListShowData{
                    padding-left: 41px;
                    .trade_tokenName div span{
                        font-family: Effra !important;
                    }
				}
			}
          }
        }
      }
    }
  }
  // 交易模块
  .deal-sell-buy {
    overflow: hidden;
    margin-top: 20px;
  }
  .sell-buy-left {
    width: 50%;
    height: 445px;
    padding-right: 20px;
    float: left;
    overflow: hidden;
    .sell-buy-box {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  .sell-buy-title {
    border-bottom: 1px solid #000;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    span {
      font-size: 14px;
      display: inline-block;
      line-height: 38px;
      cursor: pointer;
      &:nth-of-type(1) {
        margin-right: 40px;
      }
    }
    div {
      float: right;
      span {
        font-size: 12px;
        line-height: 40px;
        cursor: auto;
        &:nth-of-type(1) {
          margin-right: 10px;
        }
        &.min_amount{
            margin-left: 30px;
            margin-right: 10px;
        }
      }
      .icon-wenhao{
          float: right;
          line-height: 40px;
          margin-left: 5px;
          cursor: pointer;
          position: relative;
          &:hover{
              .min_hint{
                  display: block;
              }
          }
      }
      .min_hint{
          display: none;
          position: absolute;
          right: 0;
          width: 300px;
          padding: 10px;
          z-index: 2;
          cursor: auto;
          p{
              font-size: 12px;
              line-height: 20px;
              margin: 0;
              padding-bottom: 10px;
              &:nth-last-of-type(1){
                  padding-bottom: 0;
              }
          }
      }
    }
  }

  // 买入和卖出
  .deal-sell-box {
    width: 50%;
    float: left;
    padding: 15px 20px 20px;
    overflow: hidden;
  }
  .deal-buy-box {
    width: 50%;
    float: left;
    padding: 15px 20px 20px;
    overflow: hidden;
  }
  .deal-type {
    font-size: 18px;
    font-weight: bold;
    padding-top: 13px;
    height: 37px;
	button {
		float: right;
		display: block;
		padding: 0 12px;
		height: 24px;
		line-height: 24px;
		font-size: 12px;
		border: none;
		outline: none;
		margin-top: -2px;
		cursor: pointer;
	  }
  }
  .deal-sum {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 59.2px;
    span {
      padding-left: 10px;
    }
  }
  .deal-input {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    position: relative;
    .left-word {
      position: absolute;
      top: 0;
      left: 15px;
      font-size: 14px;
      display: inline-block;
      line-height: 39px;
    }
    .right-unit {
      position: absolute;
      top: 0;
      right: 35px;
      font-size: 14px;
      display: inline-block;
      line-height: 40px;
    }
    input {
      width: 100%;
      height: 39px;
      margin-top: 0.5px;
      background-color: inherit;
      border: 1px solid rgba(255,255,255,0);
      outline: none;
      padding: 0 70px 0 70px;
      overflow: hidden;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      &:focus {
        border: $color_blue 1px solid;
      }
      &:hover {
        border: #60698D 1px solid;
      }
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
    button {
      position: absolute;
      right: 1px;
      width: 29px;
      height: 19px;
      padding: 0;
      text-align: center;
      line-height: 19px;
      background-color: inherit;
      border: none;
      outline: none;
      span {
        font-size: 14px;
        cursor: pointer;
      }
      &:nth-of-type(1) {
        top: 2px;
      }
      &:nth-of-type(2) {
        top: 20px;
      }
    }
  }
  .deal-price {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
  .deal-column {
    height: 50px;
    line-height: 50px;
    margin-top: 7.3px;
    margin-bottom: 7.3px;
    span {
      display: inline-block;
      width: 50px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      font-size: 12px;
      border-radius: 2px;
      margin-right: 10px;
      cursor: pointer;
      &:nth-last-of-type(1) {
        margin-right: 0;
      }
    }
  }
  .deal-amount {
    font-size: 14px;
    padding-bottom: 10px;
    height: 29.2px;
    span {
      padding-left: 10px;
    }
  }
  .deal-btn {
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    text-align: center;
    line-height: 40px;
    padding: 0;
    border-radius: 2px;
    margin-top: 20px;
    cursor: pointer;
  }

  // 买卖
  .interrupt{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 2;
    display: table;
    .table_cell{
        display: table-cell;
        vertical-align: middle;
        .interrupt_img{
            display: inline-block;
            width: 75px;
            height: 70px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 100% 100%;
        }
        div{
            font-size: 14px;
            margin-top: 10px;
        }
    }
}
  .sell-container {
    height: 155px;
    overflow: hidden;
    position: relative;
    transition: height 300ms ease-in-out;
    nodata,loading{
        position: absolute;
        bottom: 0;
		left: 0;
		width: 100%;
    }
    .deal-business-lists {
      width: 100%;
      min-height: 40px;
      position: absolute;
    //   bottom: 0;
      left: 0;
    }
  }
  .buy-container {
    height: 155px;
    overflow: hidden;
    position: relative;
    transition: height 300ms ease-in-out;
    .deal-business-lists {
      min-height: 40px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
	  nodata,loading{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		}
    }
  }
  .sell-buy-center {
    width: 25%;
    padding-right: 10px;
    float: left;
    .deal-business {
      width: 100%;
      height: 445px;
      padding-bottom: 20px;
      overflow: hidden;
      position: relative;
      .deal-business-title {
        height: 40px;
        border-bottom: 1px solid #000;
        padding: 0 20px;
        span {
		  display: block;
		  float: left;
          line-height: 38px;
          font-size: 12px;
		  margin-right: 15px;
		  text-align: center;
          cursor: pointer;
          &:nth-of-type(3) {
            margin-right: 0;
          }
        }
        .business-title-right {
          float: right;
          font-size: 12px;
          span {
			margin-right: 0;
			display: inline-block;
			width: auto;
			float: none;
          }
          div {
            margin-left: 10px;
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-right: 15px;
            span {
              position: absolute;
              right: 0;
              line-height: inherit;
              font-size: 14px;
            }
            .down-bottom {
              display: none;
              position: absolute;
              top: 30px;
              right: 0;
              margin-left: 0;
              background-color: inherit;
              padding: 0;
              border-radius: 0 0 2px 2px;
              z-index: 1;
              p {
                margin: 0;
                padding: 5px 10px;
				white-space: nowrap;
				text-align: left;
				transition: background 300ms ease-in-out;
              }
            }
          }
        }
      }
      .lists-title {
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        margin-bottom: 5px;
        div {
          float: left;
          font-size: 12px;
          &:nth-of-type(1) {
            width: 14%;
            height: 30px;
          }
          &:nth-of-type(2) {
            width: 29%;
            padding-left: 10px;
          }
          &:nth-of-type(3) {
            width: 28%;
            text-align: right;
          }
          &:nth-of-type(4) {
            width: 29%;
            text-align: right;
          }
        }
      }
      .deal-business-lists {
        list-style: none;
        padding: 0 20px 0 10px;
		overflow: hidden;
        .listData_box{
            overflow: hidden;
            margin-bottom: 5px;
            position: relative;
            &:nth-last-child(1){
                margin-bottom: 0;
            }
            .my_deal{
                position: absolute;
                top: 5px;
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
            li {
                float: right;
                width: calc(100% - 10px);
              overflow: hidden;
              cursor: pointer;
              &:nth-last-of-type(1) {
                margin-bottom: 0;
              }
              div {
                float: left;
    			font-size: 12px;
    			height: 15px;
              	line-height: 15px;
                &.deal_start {
                  width: 14%;
                }
                &.deal_price {
                  width: 29%;
                  padding-left: 10px;
    			  font-family: Effra !important;
                }
                &.deal_volume {
                  width: 28%;
    			  text-align: right;
    			  font-family: Effra !important;
                }
                &.deal_amount {
                  width: 29%;
    			  text-align: right;
    			  font-family: Effra !important;
                }
              }
            }
        }

      }
      .rise-fall {
        overflow: hidden;
        margin: 10px 0;
        height: 20px;
        line-height: 20px;
        padding: 0 20px;
        div {
			font-family: Effra !important;
          &:nth-of-type(1) {
            float: left;
            font-size: 12px;
            span {
              font-size: 16px;
              font-weight: bold;
              padding-right: 5px;
              float: left;
            }
          }
          &:nth-of-type(2) {
            float: right;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
  }

  // 实时成交
  .sell-buy-right {
    width: 25%;
    padding-left: 10px;
    float: left;
    .deal-realTime {
      width: 100%;
      height: 445px;
      padding-bottom: 20px;
      .deal-realTime-title {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #000;
        font-size: 14px;
        padding: 0 20px;
      }
      .clinch-lists {
        list-style: none;
        padding: 0;
        li {
          overflow: hidden;
		  line-height: 20px;
		  padding: 0 20px;
          div {
            float: left;
            font-size: 12px;
            &:nth-of-type(1) {
              width: 30%;
              padding-right: 5PX;
              font-family: Myriad;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
              a{
                  font-family: Myriad;
              }
            }
            &:nth-of-type(2) {
              width: 15%;
            }
            &:nth-of-type(3) {
			  width: 28%;
			  font-family: Effra !important;
            }
            &:nth-of-type(4) {
              width: 27%;
              // float: right;
			  text-align: right;
			  font-family: Effra !important;
            }
          }
          &:nth-of-type(1) {
            height: 30px;
            line-height: 30px;
          }
		}
		.overflow-container{
			width: 100%;
			height: 360px;
			overflow-y: scroll;
			.overflow_y{
				li{
                    padding-right: 15px;
					&:nth-of-type(1){
						height: 20px;
						line-height: 20px;
					}
				}
			}
		}
      }
    }
  }

  .over_scroll{
      overflow-y: scroll !important;
  }

  // 交易状态
  .deal-state {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}

.Rotate {
  transform: rotatey(180deg);
}

.selectBox {
  position: relative;
  width: auto;
  height: 100%;
  .fwBold{
    font-weight: bold;
    padding-right: 2px;
  }
  .iconDown {
    display: block;
    width: auto;
    position: initial!important;
    font-size: 12px;
    &.icon-sanjiaoxing-down:after {  color: #60698D;}
  }
  input{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  &:hover{
    .select{
      display: block;
    }
  }
  .select{
    &.hide{
      display: none;
    }
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    width: 285px;
    height: auto;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #404B6C;
    border-radius: 5px;
    list-style: none;
    padding-left: 0;
    z-index: 2;
    .option{
      width: 61px;
      line-height: initial;
      display: inline-block;
      padding-bottom: 2px;
      cursor: pointer;
      overflow:hidden;
      text-overflow:ellipsis;
      word-break:break-all;
      white-space:nowrap;
      &:hover{
        color: $color_blue;
      }
    }
  }
  select {
    width: 99px;
    position: absolute;
    top: 0;
    height: 100%;
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #fff;
    }
    &:disabled{
      color: #999;
    }
  }

  .page-box {
    width: 100%;
    height: 50px;
  }
}

.disabledStyle{
  opacity: .5;
  cursor: no-drop!important;
}
.k-line {
   position: relative;
   .loadChart{
     display: none;
     background: transparent !important;
     color: rgba(255, 255, 255, .1) !important;
     position: absolute;
     top: 45%;
     left: 0;
     .loading_img {
       opacity: .5
     }
     animation: fadeInOut 2.5s ease 2s 1 both;
   }

   .chartNoData {
     display: none;
     background: transparent !important;
     color: rgba(255, 255, 255, .1) !important;
     position: absolute;
     top: 45%;
     left: 0;
     animation: fadeIn 0.5s ease 5s 1 both;
   }
 }
.kLineNoData{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent!important;
  opacity: .6;
}
#k-line{height: 100%}
.kLineSwitch {
  .selectBox {
    display: none;
  }
  //.k-line {
  //  .loadChart {
  //    display: block;
  //  }
  //  .chartNoData{
  //    display: block;
  //  }
  //}

  .fullscreenBtn {
    display: none;
  }
}

.deep-line {
  position: relative;

  .loadChart {
    background: transparent !important;
    color: rgba(255, 255, 255, .1) !important;
    position: absolute;
    top: 45%;
    left: 0;
    .loading_img {
      opacity: .5
    }
  }

  .chartNoData {
    background: transparent !important;
    color: rgba(255, 255, 255, .1) !important;
    position: absolute;
    top: 45%;
    left: 0;
    animation: fadeIn 0.5s ease 0s 1 both;
    z-index: 22;
    & + .loadChart{
      display: none;
    }
  }

}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0
  }

  99% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}


// @media(min-width: 0) and (max-width: 1299px){
// 	.deal-title-left {
//         .deaal_left_one .taken_name_basename{
//             font-size: 16px !important;
//         }
//         .token_currentPrice,.price_up_down{
//             font-size: 16px !important;
//         }
//     }
//     .deal-business-title span{
//         margin-right: 5px !important;
//     }
//     .deal-business-title .business-title-right div{
//         margin-left: 0 !important;
//     }
//     .sell-buy-left{
//         width: 49% !important;
//     }
//     .sell-buy-center{
//         width: 26% !important;
//     }
//     .deal .deal-column span{
//         margin-right: 5px;
//     }
// }
