/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~assets/scss/px2rem';

* {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", 微软雅黑, SimSun, 宋体, sans-serif;
  font-weight: 300;
  font-style: normal;
  outline: none;
  box-sizing: border-box
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.mat-progress-spinner svg {
  width: 50px !important;
  height: 50px !important;
}

.scrollBeautiful {
  &::-webkit-scrollbar-track {
    background-color: #141E46;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #141E46;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #222E5D;
  }
  @-moz-document url-prefix() {
    & {
      position: relative;
      width: calc(100% + 17px) !important;
      padding-right: 17px;
      .scrollBar {
        width: 3px;
        background: #222E5D;
        border-radius: 2px;
        position: absolute;
        right: 2px;
        top: 0;
      }
    }
  }

}

/*复选框*/

input[type='checkbox'], input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance:  none;
  -o-appearance:  none;
  appearance:  none;
  width: rem(15);
  height: rem(15);
  background: #fff;
  border: 1px solid #AAB2C0;
  cursor: pointer;
  outline: none;
  position: relative;
  margin: 0 .5rem;
  border-radius: .2rem;
}

// 英文和数字的字体
@font-face {
  font-family: Effra-bold;
  src: url('/assets/fonts/EffraBold.ttf');
}

@font-face {
  font-family: Effra;
  src: url('/assets/fonts/Effra.ttf');
}

// 等宽字体
@font-face {
  font-family: Myriad;
  src: url('/assets/fonts/LucidaConsole.ttf');
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// input number 右边的上下箭头
input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

.dark {
  .loading_img, .break_box {
    background-image: url('assets/image/refresh-dark.png') !important;
  }
  .interrupt_img {
    background-image: url('assets/image/nodata-dark.png') !important;
  }
  input[type='checkbox']:checked, input[type='radio']:checked {
    background: url(../src/assets/icon/checked.png) no-repeat center;
    background-size: 100% auto;
    border: 1px solid #00CEFF;
  }
  .router-content[lang='en'], .router-content[lang='ko'] {
    .Deposit_box {
      background-image: url('assets/image/recharge-dark-en.png') !important;
    }
    .withdraw_box {
      background-image: url('assets/image/put-dark-en.png') !important;
    }
    .buy-sell_box {
      background-image: url('assets/image/buy-sell-dark-en.png') !important;
    }
    .slide_table {
      background-image: url('./assets/img/page1-en.png') !important;
    }
  }

  .router-content[lang='en'] {
    .download_image {
      background-image: url('./assets/image/download-en.png') !important;
    }
  }
  .router-content[lang='ko'] {
    .download_image {
      background-image: url('./assets/image/download-ko.png') !important;
    }
  }
  .router-content[lang='zh'] {
    .Deposit_box {
      background-image: url('assets/image/recharge-dark-ch.png') !important;
    }
    .withdraw_box {
      background-image: url('assets/image/put-dark-ch.png') !important;
    }
    .buy-sell_box {
      background-image: url('assets/image/buy-sell-dark-ch.png') !important;
    }
    .download_image {
      background-image: url('./assets/image/download-ch.png') !important;
    }
    .slide_table {
      background-image: url('./assets/img/page1-ch.png') !important;
    }
  }
}

.light {
  .loading_img, .break_box {
    background-image: url('assets/image/refresh-light.png') !important;
  }
  .interrupt_img {
    background-image: url('assets/image/nodata-dark.png') !important;
  }
  input[type='checkbox']:checked, input[type='radio']:checked {
    background: url(../src/assets/icon/checked-light.png) no-repeat center;
    background-size: 100% auto;
    border: 1px solid #0064FF;
  }
  .router-content[lang='en'], .router-content[lang='ko'] {
    .Deposit_box {
      background-image: url('assets/image/recharge-light-en.png') !important;
    }
    .withdraw_box {
      background-image: url('assets/image/put-light-en.png') !important;
    }
    .buy-sell_box {
      background-image: url('assets/image/buy-sell-light-en.png') !important;
    }
    .download_image {
      background-image: url('./assets/image/download-en.png') !important;
    }
    .slide_table {
      background-image: url('./assets/img/page1-en.png') !important;
    }
  }
  .router-content[lang='zh'] {
    .Deposit_box {
      background-image: url('assets/image/recharge-light-ch.png') !important;
    }
    .withdraw_box {
      background-image: url('assets/image/put-light-ch.png') !important;
    }
    .buy-sell_box {
      background-image: url('assets/image/buy-sell-light-ch.png') !important;
    }
    .download_image {
      background-image: url('./assets/image/download-ch.png') !important;
    }
    .slide_table {
      background-image: url('./assets/img/page1-ch.png') !important;
    }
  }
}

// 媒体查询
// @media(min-width: 0) and (max-width: 1199px){
//   html,body{
//     width: 1199px;
//   }
//   .container{
//     width: 1170px;
//     margin: 0 auto;
//   }
// }

// @media(min-width: 1200px) and (max-width: 1299px){
//   .container{
//     width: 1170px;
//     margin: 0 auto;
//   }
// }
@media(min-width: 0) and (max-width: 1388px) {
  html, body {
    width: 1400px;
  }
  .container {
    width: 1366px;
    margin: 0 auto;
  }
}

@media(min-width: 1389px) {
  .container {
    width: 1366px;
    margin: 0 auto;
  }
}